# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Bego\OneDrive\Dokumente\Studium\WS2020\Verteilte Systeme\Assignment 2\dslab-rmi-example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
